*{
    /* 初始化内外边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 游戏标题样式 */
h1{
    text-align: center;
    font-size: 46px;
    font-weight: 100;
    margin: 30px auto 20px auto;
}

/* 游戏难度选择 */
.level{
    text-align: center;
    margin-bottom: 10px;
}

.level button{
    padding: 5px 15px;
    background: #02a4ad;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.level button.active{
    background: #00abff;
}

/* 提示信息相关样式 */
.info{
    text-align: center;
    font-weight: 200;
    margin: 10px auto;
}

/* 表格相关样式 */
table{
    background: #929196;
    margin: 0 auto;
    border-spacing: 1px;
}

table td{
    width: 24px;
    height: 24px;
    background: #ccc;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff;
    text-align: center;
    line-height: 24px;
    font-weight : bold;
    cursor: pointer;
}

td>div{
    width: 100%;
    height: 100%;
}

/* 显示地雷 */
td>div.mine{
    background : #ccc url("../images/mine.png") center/cover no-repeat;
    /* opacity: 0.2; */
    opacity: 0;
}

/* 显示小旗 */
td>div.flag{
    background : #ccc url("../images/flag.png") center/cover no-repeat;
    opacity: 1;
}

td>div.error{
    background-color: rgb(216, 0, 0);
}

td>div.right{
    background-color: green;
}

/* 不同数字对应的颜色 */
td>div.zero {
    border-color: #d9d9d9;
    background: #d9d9d9;
}

td>div.one {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #0332fe;
}

td>div.two {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #019f02;
}

td>div.three {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #ff2600;
}

td>div.four {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #93208f;
}

td>div.five {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #ff7f29;
}

td>div.six {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #ff3fff;
}

td>div.seven {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #3fffbf;
}

td>div.eight {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #22ee0f;
}